<ion-view title="Vegania Rescue Application"> 
<ion-nav-buttons side="right">
    <a style="color: black;" ng-click="cameraClick()" class="button button-icon icon ion-camera"></a> 
</ion-nav-buttons>
<ion-content class="padding">
    <h2>Animals are here with us, not for us</h2>
    <p>
   Creative vegan advocacy
Through creative campaigns and powerful storytelling, we aim to create massive dialogue about animal rights and veganism.<a href="http://market.ionic.io/starters" target="_blank">Read More</a>.
    </p>
    <p>
      Veganism is not just a diet or a lifestyle. It's a social justice movement aimed at liberating nonhuman animals from systematic oppression they go through.</p>
    <p>
    We’re India’s most active animal rights network. We do leafleting, banner displays, protests, marches, documentary screenings and more.
    </p>
    <p>
      Vegania believes in empowering activists to start grassroots movements. Through school and college clubs, we aim to empower the youth to take initiatives for the animals.
    </p>
    <label ng-bind="latlong">Lat long value</label>
    <div class="list card" ng-repeat="notif in notifs">
  <div class="item item-avatar">
    <img src="img/ben.png">
    <h2>{{notif.name}}</h2>
    <p>{{notif.contact}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{notif.imgurl}}">
    <p>
      {{notif.description}}
    </p>
    <p>
      <button ng-click="openURL(notif.location)" class="button button-block button-positive">Get Directions</button>
      <button class="button button-block button-balanced">Contact {{notif.name}}</button>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
